<div id="content">
	<h1 id="story_title">All of our Stories</h1>
	<div id="story">
		<% if flash[:notice].present? %>
		  <p class="save"><%= flash[:notice] %></p>
		<% end %>

		<ul>
			<% @stories.each do |story| %>
			<li><%= link_to story.title, story %></li>
			<% end %>
		</ul>

	</div>
	<div class="bottom_pad"></div>
</div><!-- #content -->
<div id="sidebar">
	<p>A Story Or Two is collaborative storytelling. The first line to a story is provided and bit by bit, you get to write the rest. Invite your friends and start collaborating on a story today.</p>
	<!-- <div id="feedback_form">
		<div id="wufoo-m7x3s5">
		Fill out my <a href="http://dtrick.wufoo.com/forms/m7x3s5">online form</a>.
		</div>
		<script type="text/javascript">var m7x3s5;(function(d, t) {
		var s = d.createElement(t), options = {
		'userName':'dtrick', 
		'formHash':'m7x3s5', 
		'autoResize':true,
		'height':'517',
		'async':true,
		'header':'show'};
		s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
		s.onload = s.onreadystatechange = function() {
		var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
		try { m7x3s5 = new WufooForm();m7x3s5.initialize(options);m7x3s5.display(); } catch (e) {}};
		var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
		})(document, 'script');</script>
	</div> -->

</div><!-- #sidebar -->