body {
	background: url(img/wood_bg.png) repeat;
	font-family: Rancho;
	font-size: 18px;
	
}
ul, li, p {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
a {
	color: #3E5916;
}
a:hover {
	color: #93A605;
}
h1.header {
	text-indent: -9999px;
	background: url(img/logo.png) no-repeat 170px 0;
	height: 60px;
	width: 600px;
	margin: 0 auto;
}
#story_title {
	background: url(img/top_pad.png) no-repeat top;
	width: 600px;
	height: 65px;
	margin: 0px auto 0;
	text-align: center;
	font-size: 30px;
	color: #E5EFFA;
	padding-top: 5px;
}
#story {
	width: 560px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
}
#story li {
	margin-bottom: 15px;
	font-size: 25px;
	color: #333;
	overflow: hidden;
}
#form {
	background: #eaeaea;
	margin-bottom: 20px;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	border: 1px solid #ccc;
	box-shadow: 0px 1px 5px rgba(0,0,0,.1);
}
#form #new_line_content {
	background: #fff;
	padding: 5px;
	width: 400px;
	color: #444;
	margin: 0 auto 0px;
	border: none;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	text-shadow: none;
}

#form label {
	font-size: 16px;
}
#form input {
	background: #93A605;
	font: 20px Rancho;
	border: 1px solid #eaeaea;
	border-radius: 5px;
	padding: 5px;
	color: #fff;
	text-shadow: 1px 1px 0 #222;
	cursor: pointer;
}
#form input:hover {
	background: #3E5916;
}
#form input#submission_content {
	background: #fff;
	width: 400px;
	color: #222;
	text-shadow: none;
	border: 1px solid #ccc;
}
.bottom_pad {
	background: url(img/bottom_pad.png) no-repeat;
	width: 600px;
	margin: 0 auto;
	height: 20px;
}
.lines li {
	text-align: center;
}
.submissions li {
	margin-left: 30px;
	border-bottom: 1px dotted #eaeaea;
	padding-bottom: 10px;
}
.submissions span {
	float: right;
	padding: 10px;
	background: #eaeaea;
	border-radius: 10px;
	text-shadow: 1px 1px 0 #888;
	box-shadow: 0 0 1px rgba(0,0,0,.5);
	color: #F25C05;
}
.votes {
	float: right;
	font-size: 25px;
	color: #F25C05;
	text-shadow: 1px 1px 0 #ccc;
	margin-bottom: 10px;
}
.votes span {
	color: #3E5916;
	margin-left: 10px;
}
.submissions {
	clear: both;
}
.submissions #vote {
	float: right;
	margin-left: 20px;
}
#vote input {
	background: #F28705;
	border: 1px solid #F25C05;
	text-shadow: 1px 1px 0 #888;
	box-shadow: 0 0 1px rgba(0,0,0,.5);
	font: 20px Rancho;
	color: #fff;
	border-radius: 5px;
	padding: 0px 15px;
}
#vote input:hover {
	background: #F25C05;
	border: 1px solid #F28705;
	cursor: pointer;
}
.save,
.error,
.sorry,
.complete,
.add {
	font-size: 25px;
	text-align: center;
}
.sorry,
.add {
	color: #F25C05;
}
.save,
.complete {
	color: #93A605;
}
.error {
	color: red;
}