<!DOCTYPE html>
<html>
<head>
  <title>StoryModels</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
